<a href="https://colab.research.google.com/github/urtimL/colab.research/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# Прочесть с помощью pandas файл diamonds.csv, который находится в папке python на githab
df = pd.read_csv('https://raw.githubusercontent.com/urtimL/python/main/diamonds.csv')

In [4]:
# Посмотреть сколько в нем строк и столбцов
df.shape

(53940, 11)

In [5]:
# Посмотреть первые 5 строк 
df.head(11)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73

In [7]:
# Посмотреть есть ли у нас пустые значения
# В данном случае пустых значений нет
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [8]:
# Проверить тип данных в столбцах
# В данных случаях везде float, число 64 указывает на разрядность(Используется 64 байта для хранения значения в памяти,
# чем меньше разрядность, тем меньший диапазон могут принимать числа и тем меньше тратится памяти на хранение.
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [9]:
# Посмотреть все столбцы
# Возвращает список со строками строк - названиями столбцов в таблице
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [10]:
# Выбор нескольких столбцов [широта, кол-во жителей]
df[['carat', 'depth', 'table', 'price']]

       carat  depth  table  price
0       0.23   61.5   55.0    326
1       0.21   59.8   61.0    326
2       0.23   56.9   65.0    327
3       0.29   62.4   58.0    334
4       0.31   63.3   58.0    335
...      ...    ...    ...    ...
53935   0.72   60.8   57.0   2757
53936   0.72   63.1   55.0   2757
53937   0.70   62.8   60.0   2757
53938   0.86   61.0   58.0   2757
53939   0.75   62.2   55.0   2757

[53940 rows x 4 columns]